{% extends 'game/base.html' %}
{% load static %}
{% block title %} Skies of Japan {% endblock %}
{% block content %}
    <div>
        {% if user.is_superuser %}
        <h2>Upload photo</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" multiple> </input>
            <input type="submit" value="Upload">
        </form>
        

        {% endif %}
        <h1>Skies of Japan</h1>
        <ul>
        {% for img in imgs %}
            <li>
                <p>{{img.datetime}} (local time)</p>
                {% if img.gps.alt %} <p>Altitude : {{img.gps.alt}}m</p> {% endif %}
                <img src="media/japan/{{img.path}}" alt="{{img.path}}" style="height: 90vh;">
                {% if img.maps %}<img src="media/japan/{{img.maps}}" alt="{{img.path}}" style="height: 90vh;"> {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
