{% extends 'game/base.html' %}
{% load static %}
{% block title %} Skies of Japan {% endblock %}
{% block more_css %}
    <link rel="stylesheet" href="{% static 'game/japan.css' %}">
{% endblock %}
{% block content %}
    <div style="font-family: monospace;">
        {% if user.is_superuser %}
        <h3>Upload photo</h3>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" multiple> </input>
            <input type="submit" value="Upload">
        </form>
        

        {% endif %}
        <h1>Skies of Japan</h1>
        <div class="image_list">
        {% for date_img in date_imgs %}
        <h2>{{date_img.date}}</h2>
            {% for img in date_img.imgs%}
                <div class="image_display">
                    <div class="img_metadata">
                        <p>{{img.time}}</p>
                        {% if img.gps.alt %} <p>{{img.gps.alt}}m</p> {% endif %}
                    </div>
                    <div class="img_container">
                        <img src="media/japan/{{img.small}}" alt="{{img.small}}" class="main_img">
                        {% if img.map %}
                            <img
                                src="media/japan/{{img.map_small}}"
                                alt="{{img.map}}"
                                class="corner_img"
                                onclick="open_modal('media/japan/{{img.map}}')"
                            >
                        {% endif %}    
                        <div class=corner_img_2 onclick="open_modal('media/japan/{{img.path}}')"><div class="child_rotated">⇱</div></div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="sep"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
        <div class="modal" id="popup">
            <div class="modal-content">
                <div class="close" onclick="close_modal()">&times;</div>
                <img src="" alt="zoomed_in" id="zoomed_in">
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    let popup = document.getElementById("popup")
    let img_popup = document.getElementById("zoomed_in")
    function open_modal(img_path){
        popup.style.display = 'block'
        img_popup.src = img_path
    }
    function close_modal(){
        popup.style.display = 'none'
    }
</script>
{% endblock %}
