#skybox{
    margin: auto;
    width: 70%;
}

.sky{
    height:100px;
    width:100px;

}

.label{

}

.day{
    display: inline-block;
}

footer{
    margin-top: 50px;
}

header{
    color: white;
    background-color: #555;
    font-size: 2em;
    font-weight: bold;
}