.image_display {
    width: fit-content;
    margin:auto;
}

.img_metadata > p {
    color: white;
    background-color: #0AA;
    border-radius: 20px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.img_metadata {
    display: flex;
    justify-content: space-between;
}

.img_container {
  display: inline-block;
  position: relative;
}
.main_img {
  max-height: 90vh;
  max-width: 90vw;
  width: auto;
  vertical-align: top;
  border-radius:10px;
}

.corner_img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20%;
  cursor: grab;
  border-radius:10px;
  opacity: 0.85;
  min-height: 10vh;
}

.corner_img:hover {
    opacity: 1;
}

.corner_img_2 {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 10%;
    aspect-ratio: 1;
    cursor: grab;
    background-color: rgba(0.5, 0.5, 0.5, 0.2);
    color:white;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    align-items:center;
    border-radius: 10px;
  }

.child_rotated{
    transform:scaleX(-1);
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    display:flex;justify-content:center;align-items:center
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Center modal on screen */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Adjust width of modal */
  border-radius: 10px;
}

#zoomed_in {
    margin:auto;
    max-width: 90%;
    display: block;
    max-height: 130vh;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sep {
    border-bottom: 1px #555 solid;
    height: 20px;
    width: 20%;
    margin:auto;
}

h2 {
    margin-top: 30px;
    text-align: center;
}