{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'game/default_design.css' %}">
</head>
<body>
    <header>
        <h1> <a href="{% url 'index' %}">legit.engineer ~ </a></h1>
        {% if user and not user.is_anonymous %}
            {% if user.is_superuser %}
                <div class="userinfo">Welcome {{user}}. <a href="{% url 'admin:index' %}">Admin panel </a> / <a href="{% url 'logout' %}">Log out</a></div>
            {% else %}
                <div class="userinfo">Welcome {{user}}. <a href="{% url 'logout' %}">Log out</a></div>
            {% endif %}
        {% else %}
        <div class="userinfo">You are not log in. <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">register</a> </div>
        {% endif %}
    </header>
    <div id="win_bar">
        <div id="blue_bar"></div>
        <div id="red_bar"></div>
    </div>
    {% block content %}
    {% endblock %}
    <footer> don't worry, it should get better soon... {% block footer %} {% endblock %}</footer>
    <script type="text/javascript" src="{% static 'game/win_bar.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>