{% extends 'game/base.html' %}
{% load static %}
{% block title %} clicker -- {{room.name}} {% endblock %}
{% block more_css %}
<link rel="stylesheet" href="{% static 'game/clicker.css' %}">
{% endblock %}
{% block content %}
    <main id="main">
        <svg id="overlay-svg" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <mask id="myMask">
                <rect width="100%" height="100%" fill="white"/>
                <circle id="overlay-circle" cx="300" cy="300" r="100" fill="black"/>
              </mask>
            </defs>
          
            <rect id="overlay" x="0" y="0"
                mask="url(#myMask)"/>
          </svg>
        <div id="middle">
            <div id="total">{{room.total}}</span></div>
            <div id="contribution">contribution: <span id="contribution_nb">0 (0%)</span></div>
            <div id="info">
                <span id="active_player">{{room.active_player}}</span> active player
                <br>next reward: <span id="next_reward">{{next_reward}}</span>
            </div>
            
        </div>
        <input id="click" type="button" value="Click">
        <div id="notif_container">
            {% for reward in active_rewards %}
            <div class="notif">{{reward.name}}</div>
            {% endfor %}
        </div> 
    </main>
    <div hidden id="room_name">{{room.name}}</div>
    <div hidden id="rewards_count">{{active_rewards|length}}</div>
    

{% endblock %}

{% block script %}
    <script src="{% static 'game/anime.min.js' %}"></script>
    <script src="{% static 'game/clicker.js' %}"></script>
{% endblock %}