{% extends 'game/base.html' %}
{% load static %}
{% block title %} House tracker {% endblock %}
{% block content %}
    <h1>House tracker</h1>

    <h2>How to add row ?</h2>
    <p>With Greasemonkey installed on firefox, click <a href="{%url 'generate_custom_js'%}">here</a> to install the script</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Ref</th>
                <th>Page Created</th>
                <th>Page Visited</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody class="table_tracker">
            {% for row in row_list %}
            <tr>
                <td><img src="{{row.url_img}}" alt="{{row.url_img}}" style="height:75px;"></td>
                <td>{{ row.title }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.ref }}</td>
                <td>{{ row.page_created }}</td>
                <td>{{ row.page_visited }}</td>
                <td><a href="{{row.url}}">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p> <a href="{% url 'house_tracker_csv' %}"> Download csv</a> </p>
{% endblock %}


{% block script %}
    <!--<script src="{% static 'game/game.js' %}"></script> -->
{% endblock %}
