{% extends 'game/base.html' %}
{% load static %}
{% block title %} Index {% endblock %}
{% block content %}
    <p>Heyyyyy ! This website is under construction, but there is already a few pages available :</p>
    <div class="front_wrapper">
        <div class="japan">
            <h2>Skies of Japan</h2>
            <p><a href="{% url 'japan' %}">Higher quality than those from Denmark</a>, I swear</p>
          </div>
        <div class="clicker">
            <h2>Clicker</h2>
            <p><a href="{% url 'clicker' room_name='default'%}">new stuff</a> in beta, experimenting with web sockets</p>
        </div>
        <div class="denmark">
            <h2>Skies of Denmark</h2>
            <p> What was the weather in Denmark this month ?<br>
                What about tomorrow ?<br>
                <a href="{% url 'skies' %}" >Check out </a>:)
            </p>
        </div>
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>Still <a href="{% url 'faq' %}">work in progress</a><br>
                <small>I just need uuuuh... <small>questions... </small><br>Ask them here : positive.feedback@legit.engineer</small>
            </p>
        </div>
        <div class="friends">
            <h2>Exhaustive list of all my friends</h2>
            <p> This is <a href="{% url 'friends' %}">list</a> is incomplete, you can help by expanding it
            </p>
        </div>
        <div class="minesweeper">
            <h2> Old french minesweeper</h2>
            <p>Because even google's one does not include every feature a good "Démineur" should have,
            download <a href="{% static 'game/Demineur.zip' %}">this java version</a> !
            </p>
            <img src="{% static 'game/demineur.png' %}" alt="screenshot from minesweeper">
        </div>
        <div class="tha_Bomb">
            <h2> Tha Bomb online </h2>
            <p>An online game inspired by the board game time bomb.<br>
                {% if user and not user.is_anonymous %}
                    <a href="{% url 'waiting_room' %}"> enter the waiting room</a>
                {% else %}
                    <i>You have to be logged in to access this content.</i>
                {% endif %}
            </p>
            <div class="img_tha_bomb">
                <img src="{% static 'game/card_nothing_small.png' %}" alt="nothing">
                <img src="{% static 'game/card_bomb_small.png' %}" alt="bomb" onclick="alert('Kabooom')">
                <img src="{% static 'game/card_wire_small.png' %}" alt="wire">
            </div>
        </div>
        <div class="spinner">
            <h2> The machine that make fidget spinner spin</h2>
            <p>Another great thing I want to share. But should I ?</p>
            <div class="iframe_container">
                <iframe src="https://www.youtube-nocookie.com/embed/ez-7cllNlLA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% if user and not user.is_anonymous %}
        <p> If you want to unregister, please send a mail to positive.feedback@legit.engineer</p>
    {% endif %}
{% endblock %}