{% extends 'game/base.html' %}
{% load static %}
{% block title %} Index {% endblock %}
{% block content %}
    <p>Heyyyyy ! This website is under construction, but there is already a few pages available :</p>
    <div class="front_wrapper">
        <div class="denmark">
            <h2>Skies of Denmark</h2>
            <p> What was the weather in Denmark this month ?<br>
                What about tomorrow ?<br>
                <a href="{% url 'skies' %}" >Check out </a>:)
            </p>
        </div>
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>This is the next section that should be up. I just need to find out how to configures mails...<br>
                <small>How does people can ask me questions if there is no mail ? </small>
            </p>
        </div>
        <div class="playlist">
            <h2>Emergency Playlist</h2>
            <p> Feel free to check out the
                <a href="https://www.youtube.com/playlist?list=PLdiM-7U9QMxhnPcqkIUqgCFJR71uQGHkZ"> emergency youtube playlist</a> in case of emergency.
            </p>
        </div>
        <div class="minesweeper">
            <h2> Old french minesweeper</h2>
            <p>Because even google's one does not include every feature a good "Démineur" should have,
            download <a href="{% static 'game/Demineur.zip' %}">this java version</a> !
            </p>
            <img src="{% static 'game/demineur.png' %}" alt="screenshot from minesweeper">
        </div>
        <div class="time_bomb">
            <h2> Time Bomb online </h2>
            <p>An online version of the game time bomb. Protect Big Ben from the bomb ! <br>
                {% if user and not user.is_anonymous %}
                    <a href="{% url 'waiting_room' %}"> enter the waiting room</a>
                {% else %}
                    <i>You have to be logged in to access this content.</i>
                {% endif %}
            </p>
            <div class="img_time_bomb">
                <img src="{% static 'game/card_nothing_small.png' %}" alt="nothing">
                <img src="{% static 'game/card_bomb_small.png' %}" alt="bomb" onclick="alert('Kabooom')">
                <img src="{% static 'game/card_wire_small.png' %}" alt="wire">
            </div>
        </div>
        <div class="spinner">
            <h2> The machine that make fidget spinner spin</h2>
            <p>Another great thing I want to share. But should I ?</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ez-7cllNlLA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {% if user and not user.is_anonymous %}
        <p> If you want to unregister, please send a mail to loic.souverain@gmail.com</p>
    {% endif %}
{% endblock %}