
<h1>Devinez le prénom</h1>
{% if guess_finished %}
<p> Le jeu est terminé, le vrai prénom se cache parmis les {{names_guessed|length}} prénoms devinés</p>
<p> Vous pouvez désormais choisir votre top 3 !</p>
    <table>
        <tr>
            <td class="td-rank">1er : </td>
            <td>
                <select name="top_1" id="top_1">
                {% for name in names_guessed %}
                    <option value="{{name.name}}">{{name.name}}</option>
                {% endfor %}
                </select>
            </td>
            <td>(3 pt)</td>
        </tr>
        <tr>
            <td  class="td-rank">2eme : </td>
            <td>
                <select name="top_2" id="top_2">
                {% for name in names_guessed %}
                    <option value="{{name.name}}">{{name.name}}</option>
                {% endfor %}
                </select>
            </td>
            <td>(2 pt)</td>
        </tr>
        <tr>
            <td  class="td-rank">3eme : </td>
            <td>
                <select name="top_3" id="top_3">
                {% for name in names_guessed %}
                    <option value="{{name.name}}">{{name.name}}</option>
                {% endfor %}
                </select>
            </td>
            <td>(1 pt)</td>
        </tr>
    </table>
    <button id="send_top_button" onclick="vote_name_guess()">Je vote</button>
</p>
{% else %}
<p>Du 16 Novembre au 16 Décembre,<br> un prenom par jour à deviner. <br>Le vrai prénom se cache dans la liste...</p>
{% endif %}
{% if guess_is_active %}
<table id="name_guess_table">
    {% for i in guess_max_try_range %}
    <tr>
        {% for j in guess_word_length_range %}
            {% if j == 0 %}
                <td class="name_guess_letter">{{guess_first_letter}}</td>
            {% else %}
                <td class="name_guess_letter"> </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div id="input-area">
    <div class="keyboard-row">
        <div onclick="virtualKey('A')">A</div>
        <div onclick="virtualKey('Z')">Z</div>
        <div onclick="virtualKey('E')">E</div>
        <div onclick="virtualKey('R')">R</div>
        <div onclick="virtualKey('T')">T</div>
        <div onclick="virtualKey('Y')">Y</div>
        <div onclick="virtualKey('U')">U</div>
        <div onclick="virtualKey('I')">I</div>
        <div onclick="virtualKey('O')">O</div>
        <div onclick="virtualKey('P')">P</div>
    </div>
    <div class="keyboard-row">
        <div onclick="virtualKey('Q')">Q</div>
        <div onclick="virtualKey('S')">S</div>
        <div onclick="virtualKey('D')">D</div>
        <div onclick="virtualKey('F')">F</div>
        <div onclick="virtualKey('G')">G</div>
        <div onclick="virtualKey('H')">H</div>
        <div onclick="virtualKey('J')">J</div>
        <div onclick="virtualKey('K')">K</div>
        <div onclick="virtualKey('L')">L</div>
        <div onclick="virtualKey('M')">M</div>
    </div>
    <div class="keyboard-row">
        <div onclick="virtualKey('.')">.</div>
        <div onclick="virtualKey('W')">W</div>
        <div onclick="virtualKey('X')">X</div>
        <div onclick="virtualKey('C')">C</div>
        <div onclick="virtualKey('V')">V</div>
        <div onclick="virtualKey('B')">B</div>
        <div onclick="virtualKey('N')">N</div>
        <div onclick="virtualKey('BACKSPACE')" class="special-input">⌫</div>
        <div onclick="virtualKey('ENTER')" class="special-input">↲</div>
    </div>
</div>
<p id="gameover"></p>
{% endif %}
{% if names_guessed|length > 0 %}
<div>
    <h3>Prénoms déjà devinés</h3>
    <ul class="name_guess_list_wrapper">
        {% for name in names_guessed %}
            <li >
                <div class="name_guess_list">
                    <span> {{name.name}} </span>
                    {% if guess_finished %}
                    <span class="name_guess_status">
                        {{name.points}} pt - {{name.votes}} votes
                    </span>
                    {% endif %}
                </div>
            </li> 
        {% endfor %}
    </ul>
</div>
{% endif %}

